body {
    background-color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

p {
    line-height: 1.5em;
}

.heading {
    background-color: white;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.heading-holder {
    
    width: 700px;
    text-align: left;
    display: inline-block;
    flex: 1 auto;
}

.heading-text {
    color: black;
    font-size: 32px;
    display: flex;
    align-items: center;
}

.heading-helper {
    display: flex;
}

.heading-link{
    font-size: 12px;
    padding-left: 10px;
    color: rgb(133, 140, 172);
    text-decoration: none;
}

.heading-link:hover {
    text-decoration: underline;
}

.heading-link-main {
    color: black;
    text-decoration: none; 
}

.username {
    margin-left: 30px;
}

.tagline-text {
    font-size: 1em;
}

.heading-links {
    font-size: 12px;
    flex: 1 auto;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    padding-right: 0px;
}

.heading-links-helper
{
    width: 100%;
    text-align: right
}

.message-waiting {
    font-weight: bold;
    color: orange;
}

.inbox-unread {
    background-color: rgb(255, 241, 215);
}

.heading-sorter {
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 12px;
}

.sorter-link{
    font-size: 12px;
    padding-left: 10px;
    color: rgb(133, 140, 172);
    text-decoration: none;
}

.sorter-link:hover{
    text-decoration: underline;
}

.sorter-link-active{
    color: black;
    font-weight: bold;
}


.items {
    font-size: 14px;
    display: inline-block;
    width: 700px;
    margin-top: 40px;
}

.item {
    display: flex;


    padding-top: 8px;
    padding-bottom: 8px;
    
    text-align: left;
    display: flex;

    width: fill;
    cursor: pointer;
    
    border-bottom-color: rgba(133, 140, 172, 0.171);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    font-size: 14px;
}

.item-link {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
}

.item:hover {
    background-color: ghostwhite;
}


.title {
    font-weight: bold;
    font-size: 1em;
}

.url-sample {
    margin-top: 2px;
    color: rgb(133, 140, 172);
    font-size: 0.9em;
}

.content {
    padding-left: 20px;
    padding-right: 20px;

    flex: 1 auto;
}

.comments {
    color: rgb(133, 140, 172);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5px;
    width: 150px;
}

.comment-container {
    width: 100%;
    text-align: right;
}

.comment-container:hover {
    text-decoration: underline;
}

.heat-level {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.heat-level-cont {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    padding-left: 5px;
    color: rgb(133, 140, 172);
}

.user-input-page-helper {
    width: 80%;
    max-width: 1000px;
    display: inline-block;
}

.user-input-page {
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 1em;
}

.login {
    flex: 1 auto;
    width: 50%;
}

.login-banner {
    flex: 1 auto;
    width: 50%;
    background-color: white;
}

.text-item {
    flex: 1;
    width: 50%;
}
.text-item:hover {
    background-color:aliceblue;
    cursor: pointer;
}

.text-box {
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
    height: 90px;
    overflow: hidden;
    text-align: left;
    font-family: times;
    font-size: 16px;
    line-height: 1.5em;
}

.comment-link {
    text-decoration: none;
    display: inline;
    text-align: right;
    color:rgb(133, 140, 172);
}

.comment-link:hover {
    text-decoration: underline;
}

.comment-box {
    padding-top: 50px;
}

.comment-aligner {
    display: flex;
    text-align: left;
    padding-left: 5px;
    cursor: pointer;
}

.comment-content {
    flex: 1 auto;
    line-height: 1.5em;
    
}

.comment-username {
    color:rgb(133, 140, 172);
    font-size: 12px;
}

.comment-datetime {
    color: rgb(133, 140, 172);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: right;
    min-width: 100px;
    padding-right: 10px;
}

.comment-datetime:hover {
    text-decoration: underline;
}

.datetime-container {
    width: 100%;
    text-align: right;
}

.comment-body {
    padding-top: 2px;
}

.comment-replies {
    padding-left: 40px;
    padding-top: 10px;
}

.comment {
    border-left-color: rgba(133, 140, 172, 0.171);
    border-left-width: 1px;
    border-left-style: solid;
}

.comment-parent {
    margin-bottom: 20px;
}

.comment-page {
    padding-top: 35px;
    padding-bottom: 35px
}

.comment-page-helper {
    padding-top: 50px
}

.comment-page-more {
    padding-bottom: 20px;
    text-align: left;
}

.comment-aligner:hover {
    background-color:aliceblue;
}

.comments-back {
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.comments-back:hover {
    text-decoration: underline;
}

.base {
    color: rgb(133, 140, 172);
}

.voters {
    padding-right: 8px;
    color: rgb(133, 140, 172);
    text-align: left;
    font-size: 12px;
}

.voter:hover {
    color: black;
}

.voter-link {
    text-decoration: none;
    color: rgb(133, 140, 172);
}

.voted {
    color: black;
}

.info {
    padding:25px;
    text-align: left;
    line-height: 1.5em;
    margin-bottom: 40px;
    background-color: black;
    color: white;
}

.login {
    text-align: left;
}

.submit {
    text-align: left;
    padding-top: 25px;
}

.submit-input {
    width: calc(100% - 24px);
}

.notification {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 35px;
    text-align: left;
}

.top-text {
    color: black;
    padding: 15px;
    text-align: left;
    line-height: 1.5em;
    font-size: 12px;
    background-color: aliceblue;
    height: 100%;
    overflow: hidden;
}

.top-text {
    color: white;
    padding: 15px;
    text-align: left;
    line-height: 1.5em;
    font-size: 12px;
    background-color: rgb(21, 34, 75);
    height: 100%;
    overflow: hidden;
}

.item-holder-indent {
    padding-right: 44px;
}

.footer {
    text-align: right;
    margin-top: 35px;
    margin-bottom: 150px;
}

.controls {
    padding-right: 5px;
    font-size: 12px;
}

.control-link {
    color: black;
    text-decoration: none;
    padding-left: 10px;
}

.self-post {
    padding: 5px;
    padding-top: 10px;
    text-align: left;
    line-height: 1.5em;
}

.submit-text-area {
    outline: none;
    border-color: lightgrey;
    line-height: 1.5em;
    display: inline-block;
    width: 100%;
}

.user-link {
    color:rgb(133, 140, 172);
    text-decoration: none;
    font-size: 12px;
}

.user-link:hover {
    text-decoration: underline;
}

.userpage-holder {
    padding-top: 25px;
    text-align: left;
}

.our-paragraph {
    line-height: 1.5em;
    padding-bottom: 25px;
}

.reply-link {
    color:rgb(133, 140, 172);
    font-size: 12px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 15px;
}

.user-link {
    color:rgb(133, 140, 172);
    font-size: 12px;
    text-decoration: none;
}

.reply-link:hover {
    text-decoration: underline;
}

.reply-box {
    text-align: left;
    display: flex;
}

.reply-box-textarea {
    flex: 1;
    padding-right: 15px;
}

.reply-box-button {
    text-align: right;
}

.username {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.username:hover {
    text-decoration: underline;
}

.body-box {
    padding: 5px;
    padding-top: 10px;
    text-align: left;
    line-height: 1.5em;
}

.info-close {
    float: right;
    margin-top: -20px;
    margin-right: -15px;
    font-size: 1em;
    color: rgb(94, 94, 94);
}

.about {
    text-align: left;
    padding-top: 25px;
}

.account-info {
    margin-bottom: 70px;
    padding-top: 25px;
    text-align: left;
    padding: 10px;
}

.info-page {
    margin-bottom: 70px;
    padding-top: 25px;
    text-align: left;
    padding: 10px;
}

.our-input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;

}

.our-button {
    background-color: rgb(133, 140, 172);
    padding: 12px;
    color: white;
    border: none;
    margin-right: 18px;
}

.our-button:hover {
    background-color: black;
    cursor: pointer;
}

.standard-btn {
    width: 125px;
}

.danger-btn {
    background-color: brown;
}

.comment-box-special {
    padding-top: 25px;
}

.inbox {
    padding: 10px;
}

.user-controls {
    text-align: left;
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #858cac;
}

.welcome-header {
    margin-top: 0px;
}

.user-link-float-right {
    float: right;
}

.reports-table {
    width: 100%;
    border-collapse: collapse;
}

.reports-table th {
    background-color: black;
    color: white;
    padding: 10px;
}

.reports-table td {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.why-cell {
    text-align: left;
}

.comment-input {
    height: 50px;
    width: calc(100% - 20px);
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 1200px){


    body {
        text-align: center;
        
    }

    .items {
        width: 100%;
        margin-top: 10px;
    }
    
    .heading-holder {
        width: 100%;
    }

    .heading-helper {
        display: inline-block;
        width: 100%;
    }

    .user-input-page {
        display: block;
        padding: 10px;
        width: calc(100% - 20px);
    }

    .login-banner {
        width: calc(100% - 20px);

    }

    .login {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    .do-login {
        width: 100%;
    }

    .our-button {
        margin: none;
    }

    .our-input {
        display: inline-block;
        padding: 10px;
        width: calc(100% - 20px);
    }

    .info {
        padding:10px;
        text-align: left;
        line-height: 1.5em;
        margin-bottom: 10px;
        width: fill;
    }

    .info-close {
        margin-top: -10px;
        margin-right: -5px;
    }

    .heading-text {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .heading-sorter {
        display: inline-block;
        padding: 0px;
        width: calc(100% -  20px);
        text-align: center;
        background-color: ghostwhite;
        padding: 10px;
    }

    .sorter-link {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }

    .heading-links {
        display: inline-block;
        padding: 0px;
        width: calc(100% - 20px);
        text-align: center;
        padding: 10px;
        font-size: 12px;
    }

    .heading-links-helper
    {
        width: 100%;
        text-align: center;
    }

    .heading-link {
        padding-left: 5px;
        padding-right: 5px;
    }

    .about {
        padding: 10px;
        width: calc(100% - 20px);
    }

    .comment-replies {
        padding-left: 10px;
    }
}